@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: aqua;
    font-family: Raleway, sans-serif;
}

header {
    height: 250px;
    width: 100%;
    background-color: gray;
}

img {
    height: 250px;
    width: 250px;
}

#menu {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-size: 180%;
    display: block;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 100px 80px;
}

li a:hover {
    background-color: aqua;
}